# App
PORT=3000
NODE_ENV=development
HOST=http://localhost
HOST_REMOTO=http://localhost

# DB
DB_HOST=localhost
DB_PORT=3306
DB_NAME=goat
DB_USER=postgres
DB_PASS=Libero125*
DB_LOGGING=false

# Auth
JWT_SECRET=supersecreto
JWT_EXPIRES=2h
BCRYPT_ROUNDS=12

# Seeds
SEED_RUN_ON_START=false      # si "true" corre seeds al arrancar en dev
SEED_ALLOW_PROD=false        # seguridad: NO sembrar en prod a menos que sea true explícito
